@media (min-width: 1000px) {
  .outerdiv {
    display: flex;
    flex-direction: row;
  }
  .left {
    display: block;
    margin-left: 400px;
    margin-right: 200px;
  }
  .rightdiv {
    padding-right: "200px";
  }
  .textfield {
    width: 600px;
  }
  .form {
    width: 600px;
    background-color: rgba(186, 182, 182, 0.568);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-right: 300px;
  }
  .givemargin {
    margin-right: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .outerdiv {
    display: flex;
    flex-direction: row;
  }
  .left {
    display: block;
    margin-left: 400px;
    margin-right: 200px;
  }
  .rightdiv {
    padding-right: "200px";
  }
  .textfield {
    width: 400px;
  }
  .form {
    width: 300px;
    background-color: rgba(186, 182, 182, 0.568);
    padding-left: 40px;
    padding-right: 140px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 200px;
  }
  .givemargin {
    margin-left: 20px;
    margin-right: 200px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .outerdiv {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
  }
  .rightdiv {
    padding-right: "200px";
  }
  .textfield {
    width: 200px;
  }
  .form {
    width: auto;
    background-color: rgba(186, 182, 182, 0.568);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-right: 20px;
  }
  .givemargin {
    margin-right: 40px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .outerdiv {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: block;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 100px;
  }

  .rightdiv {
    padding-right: "20px";
  }
  .textfield {
    width: 200px;
  }
  .form {
    width: auto;
    background-color: rgba(186, 182, 182, 0.568);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 20px;
  }
  .givemargin {
    margin-right: 20px;
  }
}

.css-953pxc-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid black;
}

.css-10lvcmn-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid black;
}
