.grid-item {
  border: 1px solid rgb(255, 255, 255);
  margin-top: "20px";
}

.landscape {
  grid-column: span 2;
}

.portrait {
  grid-column: span 1;
}

.imgpage {
  object-fit: cover;
}

@media (min-width: 1200px) {
  .landscape {
    width: 1200px;
  }
  .portrait {
    width: 500px;
  }
  .img1,
  .img2 {
    margin-top: 150px;
  }
  .border-apply {
    padding-left: 220px;
    padding-right: 200px;
  }
  .grid-container {
    position: relative; /* Make the grid container relative to its parent */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
  }

  .search {
    width: 400px;
  }

  .search-bar {
    position: absolute;
    top: 50px; /* Adjust the top position */
    right: 320px; /* Adjust the right position */
    z-index: 2; /* Ensure search bar is above the grid items */
  }
  .overlay-text {
    font-size: 50px;
    margin-bottom: 15px;

    position: absolute;
    top: 20px;
    left: 50px;
    opacity: 0; /* Initially hidden */
    font-weight: bold;
    font-family: "Montserrat";
  }
  .overlay:hover .overlay-text {
    opacity: 1; /* Show the view-more text on hover */
  }

  .location-line {
    width: 100px;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 160px;
    left: 100px;
    font-weight: bold;
  }

  .location-on-hover {
    font-family: "Poppins";
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 220px;
    font-weight: bold;
  }

  .view-more {
    font-size: 25px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .landscape {
    width: 90px;
  }
  .portrait {
    width: 400px;
  }
  .img1,
  .img2 {
    margin-top: 150px;
  }
  .search {
    width: 350px;
  }
  .search-bar {
    position: absolute;
    top: 80px; /* Adjust the top position */
    right: 150px; /* Adjust the right position */
    z-index: 2; /* Ensure search bar is above the grid items */
  }
  .border-apply {
    padding-left: 180px;
    padding-right: 150px;
  }

  .overlay-text {
    font-size: 45px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 15px;
    position: absolute;
    top: 40px;
    left: 40px;
    opacity: 0; /* Initially hidden */
  }
  .overlay:hover .overlay-text {
    opacity: 1; /* Show the view-more text on hover */
  }

  .location-line {
    width: 100px;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 160px;
    left: 80px;
    font-weight: bold;
  }

  .location-on-hover {
    font-family: "Poppins";
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 200px;
    font-weight: bold;
  }
  .view-more {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .landscape {
    width: 900px;
  }
  .portrait {
    width: 400px;
  }
  .img1 {
    margin-top: 180px;
  }
  .search {
    height: 40px;
    width: 300px;
  }
  .search-bar {
    margin-top: 0px;
    position: absolute;
    top: 100px; /* Adjust the top position */
    right: 10px; /* Adjust the right position */
    z-index: 2; /* Ensure search bar is above the grid items */
  }
  .border-apply {
    padding-left: 80px;
    padding-right: 100px;
  }
  .landscape,
  .portrait {
    grid-column: span 1;
  }
  .overlay-text {
    font-size: 35px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 10px;
    transition: transform 0.5s ease;
    position: absolute;
    top: 30px;
    left: 30px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease, font-weight 0.3s ease, transform 0.5s ease; /* Add transition for opacity and transform */
    transform: translateX(0%);
  }
  .overlay:hover .overlay-text {
    opacity: 1; /* Show the view-more text on hover */
    transform: translateX(100); /* Slide in from right to left */
  }

  .location-line {
    width: 100px;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 140px;
    left: 50px;
    font-weight: bold;
  }

  .location-on-hover {
    font-size: 20px;
    position: absolute;
    top: 110px;
    font-weight: bold;
    left: 180px;
    font-family: "Montserrat";
  }
  .view-more {
    font-family: "Poppins";
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .landscape {
    width: 550px;
    height: 400px;
  }
  .portrait {
    width: 500px;
    padding-right: 100px;
  }
  .img1 {
    margin-top: 180px;
  }
  .search {
    width: 300px;
  }
  .overlay-text {
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 10px;
    transition: transform 0.5s ease;
    position: absolute;
    top: 20px;
    left: 30px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease, transform 0.5s ease; /* Add transition for opacity and transform */
    transform: translateX(0%);
  }
  .view-more {
    font-family: "Poppins";
    font-size: 15px;
    margin-right: 60px;
  }
}
@media (max-width: 1000px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.overlay {
  font-family: "Montserrat";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  opacity: 0;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-item:hover .overlay-text {
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.view-more {
  font-family: "Poppins";
  position: absolute;
  bottom: 20px;
  right: 50px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease, transform 0.5s ease; /* Add transition for opacity and transform */
  transform: translateX(100%); /* Initial position outside of the viewport */
}

.overlay:hover .view-more {
  opacity: 1; /* Show the view-more text on hover */
  transform: translateX(0); /* Slide in from right to left */
}

.view-more:hover {
  color: gray;
}
